.group-wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.group-filtered-card{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
}

.image {
    width: 100%;
}
